.contact {
  background-color: $c-dark;
  
  .wrapper, & * {
    color: $c-aqua;
  }
}

#mail, #phone {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#phone span {
  margin-right: 5px;
  &:first-child {
    margin: 0;
  }
}