.footer {
  background-color: $c-light;
  &>.wrapper {
    border-top: 1px solid $c-border;
  }
  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    &Items {
      display: inline-block;
      width: 100%;
      min-width: 220px;
      margin: 15px;
      flex: 1;
      h3 {
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
      }
    }
    &Box {
      display: inline-block;
      vertical-align: middle;
      margin: 0 25px;
      &>a:hover {
        fill: $c-dark;
      }
      &:first-of-type {
        margin-right: 0;
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(400) {
      flex-direction: column-reverse;
    }
    &Side {
      @include mq(400) {
        margin: 0px 0 15px 0;
      }
      ul {
        li {
          display: inline-block;
          width: 22px;
          height: 22px;
          margin: 10px;
          opacity: 0.7;
          transform: translate(0, 450%);
          transition: opacity 0.3s, transform 0.3s;
          &:hover {
            opacity: 1;
          }
          a {
            fill: $c-dark;
          }
        }
      }
    }
  }
}