html,
body {
  width: 100%;
  height: 100%;
}

::selection {
  color: $c-light;
  background: $c-basic;
}

h1,
h2,
h3,
  {
  color: inherit;
  font-family: $ff-header;
  font-weight: $fw-basic;
  text-transform: uppercase;
}

h1 {
  font-size: $fs-h1;
  color: $c-dark2;
  margin: $h1-margin;
}

h2 {
  font-size: $fs-h2;
  color: $c-dark2;
}

h3 {
  font-size: $fs-h3;
}

p {
  font-family: $ff-basic;
  font-size: $fs-basic;
  line-height: $lh-basic;
  color: $c-dark2;
  margin: $p-margin;
}

.btn {
  cursor: pointer;
}

.section,
.footer,
.header {
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.section {
  min-height: calc(100% - 75px);
  margin: $section-margin;
  padding: $section-padding;
}

.wrapper {
  position: relative;
  max-width: $wrapper-width;
  padding: $wrapper-padding;
  margin: 0 auto;
  font-family: $ff-basic;
  font-weight: $fw-basic;
  font-size: $fs-basic;
  color: $fc-basic;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.opened {
  max-height: 1000px;
  overflow: none;
  transition: max-height 0.5s;
}

.error {
  border-bottom: 2px solid $c-warn !important;
}

h2>small {
  font-size: 0.8rem;
  display: block;
  margin: 5px 0;
}

.onScrollShow {
  transform: translate(0, 0) !important;
  opacity: 1 !important;
}

p>a {
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 1px;
    top: 100%;
    left: 100%;
    background-color: $c-border;
    transition: width 0.3s, left 0.3s;
  }
  &:hover {
    &:before {
      left: 50%;
      width: 50%;
    }
  }
}