.closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.opened {
  max-height: 1000px;
  overflow: none;
  transition: max-height 0.5s;
}

.error {
  border-bottom: 2px solid $c-warn !important;
}

h2>small {
  font-size: 0.8rem;
  display: block;
  margin: 5px 0;
}

.onScrollShow {
  transform: translate(0, 0) !important;
  opacity: 1 !important;
}

p>a {
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 1px;
    top: 100%;
    left: 100%;
    background-color: $c-border;
    transition: width 0.3s, left 0.3s;
  }
  &:hover {
    &:before {
      left: 50%;
      width: 50%;
    }
  }
}

.fixed {
  position: fixed;
  left: 0;
}