//colors
$c-light: #fff;
$c-dark: #000;
$c-dark2: #333;
$c-dark3: rgb(97, 97, 97);
$c-light2: #f5f5f5;
$c-warn: rgb(255, 35, 35);
$c-info: rgb(52, 83, 255);
$c-neutral: rgb(0, 189, 0);
$c-basic: #333;
//$c-border: #e0e0e0;
$c-aqua: rgb(0, 255, 255);
$c-green:#2ce422;
$c-blue:#0096ff;
$c-border: rgba($c-blue,.3);
$c-accent: $c-blue;

//globals
//globals - fonts
$ff-basic: 'barlow-semi-cond';
$fs-basic: 1rem;
$fw-basic: 400;
$fc-basic: $c-dark2;
$lh-basic: 1.4rem;
$p-margin: 1rem 0;

//globals - headers
$ff-header: 'rubik';
$fs-h1: $fs-basic*2;
$h1-margin: 0 0 1rem 0;
$fs-h2: $fs-basic*1.5;
$fs-h3: $fs-basic*1.2;

//globals - sections and wrappers
$section-margin: 0;
$section-padding: 50px 0;

$wrapper-width: 1200px;
$wrapper-margin: 0;
$wrapper-padding: 0 30px;